
<div class="front">
    <h3>Playlists of the week:</h3>
<ul>
  <li>Soul Sauce</li>
  <li>Trap Sauce</li>
  <li>Hot Sauce</li>
</ul>
<a href="/users/new">create a new user</a>
 <div>
        <a href="/playlists">Playlists</a>
    </div>

<button onclick="this.parentElement.style.display='none';">create a new user</button>