<h1>Welcome to {{title}}</h1>
<div>
    <h3>Playlist:</h3>
<ul>
  <li>Soul Sauce</li>
  <li>Trap Sauce</li>
  <li>SweeetBaby Sauce</li>
</ul>
 <div>
        <a href="/playlists">Playlists</a>
    </div>

