
<div class="front">
    <h3>Playlists of the week:</h3>
<ul>
  <li>Soul Sauce</li>
  <li>Trap Sauce</li>
  <li>Hot Sauce</li>
</ul>
<iframe width="560" height="315" src="https://www.youtube.com/embed/PrqDFDEJMmU" frameborder="0" allowfullscreen></iframe>
<button><a href="http://undertaker-alvin-81307.bitballoon.com/">Play Games</a></button>
<a href="/users/new">create a new user</a>
 <div>
        <a href="/playlists">Playlists</a>
    </div>

