<form action="/playlists/{{playlistId}}/songs" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name">

    <label for="artist">Artist</label>
    <input type="text" name="artist" step="any">

    <label for="mp3">mp3</label>
    <input type="text" name="mp3">

    <input type="submit" value="Create">
</form>
 <div>
        <a href="/playlists">Back to playlists</a>
    </div>