<form action="/playlists/{{playlist._id}}?_method=PUT" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" value="{{playlist.name}}">

    <label for="creator">creator</label>
    <input type="text" name="creator" value="{{playlist.creator}}">

    <input type="submit" value="Edit">
</form>