   <h1>Sauce Radio</h1>
   
   
   <nav class="main">
    {{#each playlists}}
        <nav>
            <a href="/playlists/{{this._id}}" role="button">{{this.name}}</a>
        </nav>
    {{/each}}
   </nav>

 <div>
        <a href="/playlists/new">Add New playlists</a>
    </div>
    </div>