   
   
   
   <nav class="main">
    {{#each playlists}}
        <div>
            <button class="{{this.name}}"id="playlists"><a href="/playlists/{{this._id}}">{{this.name}}</a></button>
        </div>
    {{/each}}
   </nav>

 <div>
        <a href="/playlists/new">Add New playlists</a>
    </div>
   <button>
    <a href="/">home</a>
</button>
