<div>
    <h1>{{playlist.name}}</h1>
    <div>Country: {{playlist.country}}</div>

    <div>
        <a href="/playlists">Back to playlists</a>
    </div>
    <div>
        <a href="/playlists/{{playlist._id}}/edit">Edit</a>
    </div>
    <div>
        <a href="/playlists/{{playlist._id}}/delete">Delete</a>
    </div>
</div>