   <h1>Members</h1>
   
   
   <nav class="main">
    {{#each users}}
        <div >
            <button id="users"><a href="/users/{{this._id}}" role="button">{{this.name}}</a></button>
        </div>
    {{/each}}
   </nav>

 <div>
        <a href="/users/new">Add New users</a>
    </div>
    